<!-- Hosting Code
in header
<link href="//cdn.symbolset.com/{{ site.meta.symbolset_id }}/symbolset.css" rel="stylesheet">

in footer
<script src="//cdn.symbolset.com/{{ site.meta.symbolset_id }}/symbolset.js"></script>
-->
<link href='/styles/webfonts/ss-social-regular.css' rel='stylesheet'>
<link href='/styles/webfonts/ss-standard.css' rel='stylesheet'>

<!--Script for symbol display on older browsers-->
<script src="/styles/webfonts/ss-social.js"></script>
<script src="/styles/webfonts/ss-standard.js"></script>