{% comment %} Determines age from site meta {% endcomment %}
{% assign birthyear = site.meta.birthyear | minus: 0 %}
{% assign birthday = site.meta.birthdayofyear | minus: 0 %}
{% assign year = 'now' | date: "%Y" | minus: 0 %}
{% assign day = 'now' | date: "%j" | minus: 0 %}
{% if day >= birthday %} {% assign age = year | minus: birthyear %}
{% else %} {% assign age = year | minus: birthyear | minus: 1 %}
{% endif %}

{% capture content %}
  <div class='wrapper'>
    <div class='content' id="stunts">
    <div class='headshot circular'>
      <img src='/assets/Tyson-Cecka-headshot-thumb.jpg'>
    </div>
    <div class="stats">
      <p>
        Age: {{ age | fallback: "27" }}<br />
        Height: {{ site.meta.height | fallback: "5' 10''" }}<br />
        Weight: {{ site.meta.weight | fallback: '165lbs' }}
      </p>
      <p>
        <a href="mailto:{{ current.meta.email | fallback: site.meta.email }}"><span class="icon ss-mail"></span>{{ current.meta.email | fallback: site.meta.email }}</a><br />
        <a href="tel:{{ current.meta.phone | fallback: site.meta.phone }}"><span class="icon ss-phone"></span>{{ current.meta.phone | fallback: site.meta.phone }}</a>
      </p>
    </div>
      <div class='content-body'>
        {{ current.body }}
      </div>
    </div>
  </div>
{% endcapture %}

{% include 'layouts/default' %}
